body{
    font-family: "Montserrat";
    margin: 0em;
}

.cambio{
    background-color: black;
    color:white;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4.3em;
    padding-right: 3em;
    padding-top: 0.5em;
    align-content: center;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: large;
}

.cuenta{
    background-image: url(../imagenes/foto-cuenta-perfil-hombre.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 4.5em;
    height: 4.5em;
    cursor: pointer;
}

.favoritos{
    background-image: url(../imagenes/star_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

#bloque{
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
    min-height: 33em;
}

#bloque1{
    width: 13em;
    height: 18em;
    padding-left:3em;
    padding-top: 4em;
    padding-right: 2em;
    gap:5em;
    justify-content: center;
    align-items: center;
}

.izquierda{
    width: 5.5em;
}

#fondo{
    background-color: rgb(245, 244, 244);
    border-top-left-radius: 1em ;
    width: 100em;
    min-height: 33em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:2em;
}

.modo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 6em;
    cursor: pointer;
}



.oscuro{
    background-image: url(../imagenes/nightlight_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    gap:2em;
}

.modo_claro{
    background-image: url(../imagenes/wb_sunny_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    gap:2em;
}

#bloque2{
    background-color: white;
    border-radius:1em;
    width: 20em;
    height: 30em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

h2{
    color: rgb(54, 54, 54);
    margin: 0em;
}

.titulo{
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius:0.5em;
    height: 3em;
    padding-left: 1em;
}

.descripcion{
    font-family: "Montserrat";
    border: none;
    background-color: rgb(245, 245, 245);
    border-radius:0.5em;
    height: 17em;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: top;
    padding-top: 1.5em;
    resize: none;
}

.guardar{
    background-color: rgb(56, 40, 95);
    color: white;
    height: 2em;
    border-radius: 2em;
    width: 6em;
    border: none;
    cursor: pointer;
}

.guardar:hover{
    background-color: rgb(128, 51, 201);
}

.texto{
    margin: 0em;
    padding-top: 1em;
}

#bloque3{
    background-color: white;
    border-radius:1em;
    width: 35em;
    max-height: 30em;
    overflow-y: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap:1em;
}

#lista_tareas{
    gap:1em;
    width: 30em;
}

.titulo_tarea{
    padding-left: 1em;
}

.descrip_tarea{
    padding-left: 1em;
}

.tarea{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 244);
    color: rgb(54, 54, 54);
    font-family: "Montserrat";
    list-style: none;
    border-radius: 0.5em;
    padding: 0.8em;
    margin-bottom: 0.5em;
    gap:0em;
}

.check{
    background-image: url(../imagenes/check_circle_24dp_545454_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    gap:2em;
    align-self: end;
}

.completado{
    background-image: url(../imagenes/check_circle_24dp_48752C_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    gap:2em;
    align-self: end;
}

.borrar{
    background-image: url(../imagenes/cancel_24dp_545454_FILL0_wght400_GRAD0_opsz24.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    gap:2em;
    align-self: end;
}

.borrar:hover{
    background-image: url(../imagenes/cancel_24dp_8C1AF6_FILL0_wght400_GRAD0_opsz24.svg);
}

.check:hover{
    background-image: url(../imagenes/check_circle_24dp_48752C_FILL0_wght400_GRAD0_opsz24.svg);

}

.botones{
    display: flex;
    flex-direction: row;
    align-self: end;
    gap:1em;
}